<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">Вход в систему</div>
    </div>
    <div class="panel-body">
        <form class="form-signin">
            <div class="form-group">
                <label class="control-label">Ваш Email или логин:</label>
                <input type="text" class="form-control" required autofocus>
                <label class="control-label">Ваш пароль:</label>
                <input type="password" class="form-control" required>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Вход
                </button>
            </div>
            <h4>Первый раз у нас?
                <button class="btn btn-success" ng-click="getReg()">Регистрация</button></h4>
        </form>
    </div>
</div>
</div>